#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: white; }